app/code/core/
app/code/community/
app/code/local/*
!app/code/local/Softwareforce/
app/Mage.php

app/design/adminhtml
app/design/install
app/design/frontend/base
app/design/frontend/default
app/design/frontend/rwd
app/design/frontend/softwareforce_rwd

app/etc/modules/*
!app/etc/modules/softwareforce*

app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.*

app/locale/

downloader/
errors/
includes/
js/
lib/
media/
nbproject/
pkginfo/
shell/

skin/adminhtml
skin/install
skin/frontend/*
!skin/frontend/treelovehealth
skin/frontend/treelovehealth/rwd
skin/frontend/treelovehealth/modern/images
skin/frontend/treelovehealth/modern/*.icon


var/
LICENSE*.*
api.php
cron.*
favicon.ico
get.php
index.php
*.sh
web.config
.htaccess
*.sample
info.php
install.php
RELEASE_NOTES.txt
mage
!.gitignore

